<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gh.dao.RoleMapper">
    <resultMap id="BaseResultMap" type="com.gh.pojo.extendes.RoleVo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, name
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_role
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="findForPageRole" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_role
        <trim prefix="where " suffix="" suffixOverrides="and">
            <if test="id != null and id != 0">
                id = #{id,jdbcType=INTEGER}
            </if>
            <if test="name != null and name != ''">
                name like concat('%',#{name,jdbcType=VARCHAR},'%')
            </if>
        </trim>
    </select>

    <select id="cont" resultType="java.lang.Long">
        SELECT count(*) FROM t_role
        <trim prefix="where " suffix="" suffixOverrides="and">
            <if test="id != null and id != 0">
                id = #{id,jdbcType=INTEGER}
            </if>
            <if test="name != null and name != ''">
                name like concat('%',#{name,jdbcType=VARCHAR},'%')
            </if>
        </trim>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insertSelective" parameterType="com.gh.pojo.extendes.RoleVo">
        insert into t_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.gh.pojo.extendes.RoleVo">
        update t_role
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="findAllRole" resultMap="BaseResultMap">
        select id,name from t_role
    </select>
    <select id="findAllByRoleId" resultType="com.gh.pojo.extendes.UserRoleVo">

            select id,userid,roleid from t_user_role WHERE userid = 125
    </select>
    <delete id="deleteUserRoleRelationship">
        delete from t_user_role where userid=#{userid} and roleid in
        <foreach collection="roleids" item="roleid" open="(" close=")" separator=",">
            #{roleid}
        </foreach>
    </delete>
    <insert id="saveUserRoleRelationship">
        insert into t_user_role (userid,roleid) values
        <foreach collection="roleids" item="roleid" separator=",">
             (#{userid},#{roleid})
        </foreach>
    </insert>

</mapper>