<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 使用Log4J输出日志 -->
        <setting name="logImpl" value="LOG4J2" />
        <!-- 配置全局的映射器启用或禁用缓存 -->
        <!--<setting name="logPrefix" value="dao."/>-->
        <setting name="cacheEnabled" value="false"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="defaultStatementTimeout" value="30000"/>
    </settings>
    <typeAliases>
        <package name="com.gh.pojo"></package>
        <package name="com.gh.pojo.extendes"></package>
    </typeAliases>
</configuration>