<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<th:block th:fragment="foot">
    <script charset="gbk" src="/static/jquery/jquery-2.1.1.min.js"></script>
    <script charset="gbk"  src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script charset="gbk" src="/static/script/docs.min.js"></script>
    <script charset="gbk" src="/static/script/back-to-top.js"></script>
    <script charset="gbk" th:src="@{/static/jquery/layer/layer.js}"></script>
    <script charset="gbk" th:src="@{/static/common.js}"></script>
</th:block>
</html>